@import url('https://fonts.googleapis.com/css?family=Cuprum|Eater|Unica+One');
body{
	background:url(http://i.vimeocdn.com/video/508119122_1280x720.jpg);
	padding:0;
	margin:0;

}





.navbar{
	font-family: 'Cuprum', sans-serif;
}

.nav{
	
}

.navbar-brand{

}

.navbar-nav{
	
}

nav .navbar-brand{
	margin-left:20px;
}
	

.nav-link{
	margin-right:30px!important;

}

.nav-item a{
	font-size:25px;
}

.nav-item a:hover{
	background-color:black;
	border-radius:10px;
}




.container-main{

	color:white;
	border-radius:10px;
	background:#101010;
	padding:20px;
	margin-bottom:20px;
	margin-top:20px;
}

.sectionOne{
	background: url(../img/swirl.jpg) ;
	padding-top:20px;
	overflow-x:hidden;
	margin-top:70px;
}

.sectionOne nav a{
	font-size:15px;
	border:none;
	margin:0px;
	padding:0px;
	color:blue !important;
}

.sectionTwo{
	color:white;
	padding:10px;
}

.blog-sidebar{
	text-align:left;
}

.blog-sidebar h3 {
	width:280px;
	font-style:italic;
}

.arc li{
	width:250px;
}

.contact{
	margin-top:15px;
	font-size:16px;
}


.sectionFour{
	color:black;
	background: url(../img/subscribe.jpg) no-repeat;
	background-size: cover;
	background-position:left center;
	height:300px;
	font-family: 'Unica One', cursive;
}
	
.box{
	background-color:black;
	position:absolute;
	margin-top:30px!important;
	margin-left:250px;
	width:650px;
	height:200px;
	border: 2px solid;
	padding:10px;
	box-shadow:5px 10px 18px grey;
}

.box h3{
	text-align:center;
	padding-top:20px;
	color:blue;
}

.box p{
	color:blue;
}

.box form{
	padding-top:40px!important;
	padding-left:35px;
	position:inline;
}

.box button{
	margin-left:5px!important;
}


footer{
	font-family: 'Unica One', cursive;
	margin-left:100px;
	position:center;
	background-color:lightgrey;
	text-align:center;
	height:120px;
	color:black;
	padding-top:20px;
	width:1150px;
}

footer a{
	color:blue;
}

 footer p{
	text-align:left;
	margin-left:50px!important;
	margin:0;
}


@media only screen and (max-width: 380px)  {
	
		.container-main {width:260px!important;}
		.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x: hidden;}
	.sectionOne {overflow-x: hidden;margin-top:120px!important;}
	.sectionTwo h2 {text-align:center;}
	.box {  margin-left:0!important; width:231px; box-shadow:none!important; height:235px;} 
	.box h3{ font-size:18px;padding-bottom:20px;}
	.box form{ height:15px!important;padding-left:10px!important; padding-top:0!important;font-size:10px!important;}
	.box button {margin-left:65px!important;}
	footer {height:170px; margin-right:100px!important;margin-left:0!important;font-weight:bold;}
	footer p{font-size:12px; margin-left:0!important;padding:5px!important; }
	footer .lead {font-size:13px;font-weight:bold;}
	.icons { margin-right:900px!important;}
	.contact img{width:200px; height:200px;}
	.contact h3 {font-size:18px!important; width:150%;}

}

@media only screen and (min-width: 380px)  {
	.container-main {width:350px!important;overflow-x:hidden!important;}
	.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x:hidden!important;}
	.sectionOne {overflow-x: hidden;margin-top:120px!important;}
	.box {box-shadow:5px 10px 18px grey!important;margin-top:10px!important;  margin-left:30px!important; width:260px; height:260px;} 
	.box h3{ font-size:20px;padding-bottom:20px;}
	.box form{ height:15px!important;padding-left:20px!important; padding-top:0!important;font-size:13px!important;}
	.box button {margin-left:95px!important;}
	footer {height:170px; margin-right:100px!important;margin-left:0!important;font-weight:bold;}
		footer p{text-align:left;margin-left:25px!important;margin:0;padding-left:10px;}footer .lead {font-size:15px;font-weight:bold;}
	.icons { margin-right:900px!important;}
	.contact img{width:250px; height:275px;}
	
}

@media only screen and (min-width: 580px) {
	
		.container-main {width:700px!important;}
		.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x: hidden;}
	.sectionOne {overflow-x: hidden;margin-top:120px!important;}
	.box {margin-top:10px!important;  margin-left:30px!important; width:400px; border:2px solid white;	box-shadow:5px 10px 18px grey!important;  height:260px;} 
	.box h3{ font-size:20px;padding-bottom:20px;}
	.box form{ height:15px!important;padding-left:20px!important; padding-top:0!important;font-size:13px!important;}
	.box button {margin-left:140px!important;margin-top:25px!important;}
	footer {height:170px; margin-right:100px!important;margin-left:0!important;font-weight:bold;}
		footer p{text-align:left;margin-left:50px!important;margin:0;padding-left:10px;}footer .lead {font-size:15px;font-weight:bold;}
	.icons { margin-right:300px!important; display:inline!important;}
	.contact img{width:230px; height:250px;}
}

@media only screen and (min-width: 680px) {
	.container-main {width:700px!important;}
	.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x: hidden;}
	.sectionOne {overflow-x: hidden;margin-top:120px!important;}
	.box {margin-top:10px!important;  margin-left:55px!important; width:400px;	box-shadow:5px 10px 18px grey!important;  height:260px;} 
	.box h3{ font-size:20px;padding-bottom:20px;}
	.box form{ height:15px!important;padding-left:20px!important; padding-top:0!important;font-size:13px!important;}
	.box button {margin-left:140px!important;margin-top:25px!important;}footer {height:170px; margin-right:100px!important;margin-left:0!important;font-weight:bold;}
	.contact img{width:250px; height:275px;}
	
}

@media only screen and (min-width: 768px) {
	.container-main {width:1000px!important;}
	.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x: hidden;}
	.box{background-color:black;position:absolute;margin-top:30px!important;left:110px!important;width:600px!important;height:250px!important;border: 2px solid white;padding:10px;}
	.box h3{text-align:center;padding-top:18px;color:blue;font-size:25px!important;}
	.box p{color:blue;font-size:16px!important;}
	.box button{margin-left:225px!important;margin-bottom:20px!important;}
	.box form{padding-top:0px!important;padding-left:20px;position:inline;font-size:10px!important;}
	.contact img{width:250px; height:275px;}
	
}

@media only screen and (min-width: 992px) {
	.container-main {width:1150px!important;}
	.navbar-brand {font-size:13px!important; font-weight:bold; }
	nav i {display:none;}
	nav img {width:155px;height:70px;}
	body {overflow-x: hidden;}
	.box{background-color:black;position:absolute;margin-top:30px!important;left:200px!important;width:600px!important;height:250px!important;border: 2px solid white;padding:10px;}
	.box h3{text-align:center;padding-top:18px;color:blue;font-size:25px!important;}
	.box p{color:blue;font-size:16px!important;}
	.box button{margin-left:225px!important;margin-bottom:20px!important;}
	.box form{padding-top:0px!important;padding-left:20px;position:inline;font-size:10px!important;}
	.contact img{width:250px; height:275px;}
	
}

@media only screen and (min-width: 1200px) { 


	footer{font-family: 'Unica One', cursive;margin-left:100px;background-color:lightgrey;text-align:left;height:120px;color:black;padding-top:20px;width:2000px;}
	footer a{color:blue;}
	footer p{text-align:left;margin-left:50px!important;margin:0;padding-left:10px;}
	.box{background-color:black;position:absolute;margin-top:30px!important;left:330px!important;width:600px!important;height:250px!important;border: 2px solid;padding:10px;box-shadow:5px 10px 18px grey;}
.box h3{text-align:center;padding-top:20px;color:blue;font-size:30px!important;}
.box p{color:blue;font-size:20px!important;}
.box form{padding-top:0px!important;padding-left:35px;position:inline;font-size:10px!important;}
.box button{margin-left:225px!important;margin-bottom:20px!important;}

}