@import url('https://fonts.googleapis.com/css?family=Cuprum|Eater|Unica+One');
body{
	padding:0;
	margin:0;
	overflow-x:hidden!important;
}





.navbar{
	font-family: 'Cuprum', sans-serif;
}

.nav{
	
}

.navbar-brand{

}

.navbar-nav{
	
}

nav .navbar-brand{
	margin-left:20px;
}
	

 .nav-link{
	margin-right:30px!important;
	border-left:2px solid white;
}

.nav-item a{
	padding-left:25px!important;
}

.sectionOne{
	font-family: 'Cuprum', sans-serif;
	text-align:center;
	margin-top:90px;
	color:black;
	height:490px;
}
.sectionOne h1{
	font-size:70px;
	padding:10px;
	padding-top:40px;
}

.sectionOne h3{
	text-align:left!important;
	padding:10px;
	margin-left:80px;
	margin-top:25px;
}

.content {
	margin-top:5px!important;
	font-family: 'Unica One', cursive;
	text-align:center;
	font-size:20px;
    position: absolute;
    top: 0;
	right:7em;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: white;
    width:150px;
    padding: 20px;
	
}

.img-thumbnail{
	background-color:grey!important;
}

footer{
	margin-left:4px;
	font-family: 'Unica One', cursive;
	position:center;
	background-color:lightgrey;
	text-align:center;
	height:120px;
	color:black;
	padding-top:20px;
	width:1360px;
	overflow-x:hidden!important;
}

footer a{
	color:blue;
}

 footer p{
	text-align:left;
	margin-left:50px!important;
	margin:0;
}